.ButtonYellow {
    color: var(--white);
    display: inline-block;
    max-width: 100%;
    border-color: transparent;
    background: #FFDC00;
    margin: 0 1rem 1.5rem 0;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    letter-spacing: var(--spacing);
    border-radius: var(--radius);
    outline: 1px solid #FFDC0080;
    cursor: pointer;
}
.ButtonYellow:hover {
    outline: 1px solid #FFDC00;
    background: var(--white);
    color: #FFDC00;
}
.ButtonYellow:active {
    outline: none;
    background: #FF851B;
    color: #FFDC00;
    border-radius: 0;
}