.ButtonGreen {
    color: var(--white);
    display: inline-block;
    max-width: 100%;
    border-color: transparent;
    background: var(--primary-3);
    margin: 0 1rem 1.5rem 0;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    letter-spacing: var(--spacing);
    border-radius: var(--radius);
    outline: 1px solid var(--primary-2);
    cursor: pointer;
}
.ButtonGreen:hover {
    outline: 1px solid var(--primary-3);
    background: var(--white);
    color: var(--primary-3);
}
.ButtonGreen:active {
    outline: none;
    background: #2ECC40;
    color: hsla(127, 63%, 15%, 1.0);
    border-radius: 0;
}