.Wrapper {
    min-height: 100vh;
    margin: 0 auto;
    max-width: 80vw;
}

@media screen and (max-width: 600px) {
    .Wrapper {
        width: 100vw;
    }
}

.Center {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

