.Block {
    margin: 0 1rem 1.5rem 0;
    max-width: 450px;
    background: var(--white);
    border-radius: var(--radius);
    padding: 1.5rem 2rem;
    box-shadow: var(--light-shadow);
}
.BlockHard {
    margin: 0 1rem 1.5rem 0;
    max-width: 450px;
    background: var(--white);
    border-radius: var(--radius);
    padding: 1.5rem 2rem;
    box-shadow: var(--dark-shadow);
}

.Section {
    margin: 0 1rem 1.5rem 0;
    max-width: 900px;
    background: var(--white);
    border-radius: var(--radius);
    padding: 1.5rem 2rem;
    box-shadow: var(--light-shadow);
}
.SectionHard {
    margin: 0 1rem 1.5rem 0;
    max-width: 900px;
    background: var(--white);
    border-radius: var(--radius);
    padding: 1.5rem 2rem;
    box-shadow:  var(--dark-shadow);
}